/PBOKel5-Backup/PBOKel5/build/
/PBOKel5-Backup/PBOKel5/dist/
/PBOKel5-Backup/PBOKel5/nbproject/private/
/PBOKel5_prayoga/PBO_KELOMPOK/nbproject/private/
/PBOKel5_prayogaNEW/PBO_KEL5_NEW/nbproject/private/
/PBOKel5_prayoga/PBO_AA_KEL5/nbproject/private/
/PBOKel5_prayoga/PBO_A5/nbproject/private/
